.DS_Store
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.json
*.log
*.out
camino-rosetta
rosetta-server
rosetta-runner
tmp
vendor/
config/*.json
bin/*
rosetta-data
.caminogo
*.swp
data
.vscode*
__debug_bin*