.DS_Store
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.json
*.log
*.out
avalanche-rosetta
rosetta-server
rosetta-runner
tmp
vendor/
config/*.json
bin/*
rosetta-data
.avalanchego
*.swp
data
.vscode*
__debug_bin*

# *.json is excluded above, make sure we include indexer testdata
!service/backend/pchain/indexer/testdata/**
